attrdict
capturer
cvxopt
cvxpy
cython
mock
optlang
quadprog
git+https://github.com/davidfischer/requirements-parser.git#egg=requirements-parser
scipy
swiglpk
sympy

# optional solvers
cplex[cplex]
git+https://github.com/jjhelmus/CyLP.git@py3#egg=cylp[cbc]
gurobipy[gurobi]
mosek[mosek]
xpress[xpress]
