attrdict
capturer
configparser
cvxopt
cvxpy
cython
mock
optlang
quadprog
Sphinx >= 1.6
sphinx_rtd_theme
robpol86-sphinxcontrib-googleanalytics
sphinxcontrib-bibtex
sphinxcontrib-spelling
swiglpk
sympy

# optional solvers
cplex[cplex]
git+https://github.com/jjhelmus/CyLP.git@py3#egg=cylp[cbc]
gurobipy[gurobi]
mosek[mosek]
xpress[xpress]
