attrdict
capturer
configparser
cvxopt
cvxpy
cython
mock
optlang
quadprog
sphinx >= 1.7
sphinx_rtd_theme
robpol86_sphinxcontrib_googleanalytics
sphinxcontrib_bibtex
sphinxcontrib_spelling
swiglpk
sympy
